<div class="card card-small">
  <span class="material-icons">audiotrack</span>
  <div class="desc-wrap">
    <a [href]="trackURL" target="_blank">
      <p class="track-name">{{name}}</p>
      <p class="track-artists">{{artists}} • {{album}}</p>
    </a>
  </div>
</div>
