<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="section-title first text-center">Contact form</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="firstName" id="firstName" class="input-text" placeholder="First name">
              </div>
              <div class="form-group">
                <input type="text" formControlName="secondName" id="secondName" class="input-text" placeholder="Second name">
              </div>
              <div class="form-group">
                <input type="email" formControlName="email" id="email" class="input-text" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="tel" formControlName="phone" id="phone" class="input-text" placeholder="Phone">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" formControlName="subject" id="subject" class="input-text" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea formControlName="message" id="message" cols="30" rows="5" class="input-text" placeholder="Message"></textarea>
              </div>
            </div>
          </div>
          <div class="form-group text-right">
            <button [disabled]="!contactForm.valid" class="button button--primary button--medium">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
