@import '~styles/vars';

:host {
  display: block;
  margin-bottom: $gutter/2;
  .card {
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-gap: 15px;
    align-items: center;
  }
  p {
    margin: 0;
  }
  .artist-genres {
    color: $secondary-text-color;
    font-size: 14px;
  }
}
