<div class="card card-small" [@slideInOut]="'in'">
  <span class="material-icons">person</span>
  <div class="desc-wrap">
    <a [href]="artistURL" target="_blank">
      <p class="artist-name">{{name}}</p>
      <p class="artist-genres">{{genres}}</p>
    </a>
  </div>
</div>
