<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="section-title first text-center">Categories & Moods</h1>
      <app-content-grid cols="6" [@gridAnimation]="(categories$ | async)?.length">
        <app-categories-item *ngFor="let item of categories$ | async" [details]="item"></app-categories-item>
      </app-content-grid>
    </div>
  </div>
</div>
