@import '~styles/vars';

.app-header {
  background-color: $accent-color;
  padding: 10px;
  margin-bottom: $gutter;
  &-logo {
    font-weight: bold;
    font-size: 30px;
    a {
      color: $light-text-color;
    }
  }
  &-nav {
    padding: 10px 0;
  }
  &-menu {
    list-style: none;
    text-align: right;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      font-size: 20px;
      line-height: 28px;
      &:not(:first-child) {
        margin-left: 20px;
      }
      a {
        cursor: pointer;
        color: $light-text-color;
        &.active {
          text-decoration: underline;
        }
      }
    }
  }
}
