<header class="app-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="app-header-logo">
          <a routerLink="/">
            NG-MUSIC
          </a>
        </div>
      </div>
      <div class="col-sm-9">
        <nav class="app-header-nav">
          <ul class="app-header-menu">
            <li *ngIf="loggedIn == 'true'">
              <a routerLink="/categories" routerLinkActive="active">Categories</a>
            </li>
            <li *ngIf="loggedIn == 'true'">
              <a routerLink="/contact" routerLinkActive="active">Contact</a>
            </li>
            <li *ngIf="loggedIn == 'true'">
              <a routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>
            <li *ngIf="loggedIn == 'true'">
              <a (click)="logout.emit()" class="logout-btn">Logout</a>
            </li>
            <li *ngIf="loggedIn !== 'true'">
              <a routerLink="/login" routerLinkActive="active" class="login-btn">Login</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
