@import '~styles/vars';

.content-grid {
  display: grid;
  grid-gap: $gutter;
  width: 100%;
  backface-visibility: hidden;
  &.cols-auto {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  &.cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  &.cols-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &.cols-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  &.cols-6 {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: map-get($grid-breakpoints, 'lg')) {
  .content-grid {
    &.cols-3,
    &.cols-4,
    &.cols-5,
    &.cols-6 {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}
