$accent-color: #1a237e;
$primary-text-color: #212529;
$secondary-text-color: lighten($primary-text-color, 50%);
$light-text-color: #ffffff;

$light-bg-color: #ffffff;

$border-radius: 2px;

$box-shadow-small: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$box-shadow-medium: 0 10px 16px rgba(0,0,0,0.12), 0 6px 6px rgba(0,0,0,0.24);
$box-shadow-big: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1400px
);

$gutter: $grid-gutter-width;


// Material icons
$material-icons-font-path: '~material-icons/iconfont/';
