@import 'vars';
@import 'libs';

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent-color;
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  overflow-x: hidden;
  input,
  textarea {
    border: #666 1px solid;
    outline: none;
    &:focus:required:invalid {
      border-color: red;
    }
    &:required:valid {
      border-color: green;
    }
  }
}

a {
  color: $primary-text-color;
  text-decoration: none;
  transition: color 0.3s;
  &:hover,
  &:focus {
    text-decoration: none;
    color: lighten($primary-text-color, 20%);
  }
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.button {
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  border-radius: $border-radius;
  backface-visibility: hidden;
  box-shadow: $box-shadow-small;
  will-change: box-shadow;
  transition: all 0.35s ease-in-out;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
  }
  &:hover {
    box-shadow: $box-shadow-medium;
  }
  &--small {
    padding: 5px 15px;
    font-size: 14px;
  }
  &--medium {
    padding: 10px 25px;
    font-size: 18px;
  }
  &--block {
    width: 100%;
    display: block;
  }
  &--primary {
    color: $light-text-color;
    background-color: $accent-color;
    &:hover,
    &:focus {
      color: $light-text-color;
    }
  }
}

.input-text {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px solid $primary-text-color;
  resize: none;
}

.form-group {
  position: relative;
}

.card {
  position: relative;
  display: block;
  padding: 20px;
  background-color: $light-bg-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow-small;
  transition: all 0.3s;
  &-small {
    padding: 10px 15px;
  }
  &.hoverable:hover {
    box-shadow: $box-shadow-big;
  }
}

.section-title {
  color: $primary-text-color;
  margin: $gutter 0;
  &.first {
    margin-top: 0;
  }
}

@import 'media'; // Always at the end
