<div *ngIf="loggedIn$ | async" class="container">
  <div class="row">
    <div class="col-12">
      <app-search-input [query]="searchQuery$ | async" (inputHandler)="search($event)"></app-search-input>
    </div>
  </div>
  <div class="row" *ngIf="loaded$ | async">
    <div class="col-12" [@gridAnimation]="(searchTracks$ | async)?.length + (searchArtists$ | async)?.length">
      <app-search-track-item *ngFor=" let item of searchTracks$ | async " [details]="item"></app-search-track-item>
      <app-search-artist-item *ngFor=" let item of searchArtists$ | async " [details]="item"></app-search-artist-item>
    </div>
  </div>
</div>
