<section class="login-page">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <div class="card text-center">
          <h2>Log in</h2>
          <p>Please, log in into Your Spotify account</p>
          <button class="button button--medium button--block" (click)="loginCLickHandler()">Log in</button>
        </div>
      </div>
    </div>
  </div>
</section>
