<section class="not-found-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <div class="card text-center">
          <h2>404: Not Found</h2>
          <p>Hey! It looks like this page doesn't exist yet.</p>
        </div>
      </div>
    </div>
  </div>
</section>
