@import '~styles/vars';

:host {
  cursor: pointer;
  display: inline-block;
  background-color: $light-bg-color;
  text-align: center;
  backface-visibility: hidden;
  box-shadow: $box-shadow-small;
  border-radius: $border-radius;
  overflow: hidden;
  transition: all 0.3s;
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    opacity: 1;
  }
  p {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    margin: 0;
  }
  &:hover {
    box-shadow: $box-shadow-big;
  }
}
