@import '~styles/vars';
:host {
  display: block;
  margin-bottom: $gutter/2;
}
.details-inner {
  display: block;
  .desc-col {
    margin-top: $gutter/2;
  }
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  ul {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
