<div class="card">
  <div class="details-inner">
    <div class="cover-col">
      <img [src]="imgSrc" alt="{{name}}">
    </div>
    <div class="desc-col">
      <h2>{{name}}</h2>
      <ul>
        <li>Tracks: {{tracksCount}}</li>
        <li>Owner: {{ownersName}}</li>
        <li>Followers: {{followersCount}}</li>
      </ul>
      <p [innerHtml]="description"></p>
      <a [href]="playlistURL" class="button button--primary button--medium button--block" target="_blank">Play all</a>
    </div>
  </div>
</div>
