<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-lg-4">
      <app-playlist-details [details]="playlistDetails$ | async"></app-playlist-details>
    </div>
    <div class="col-12 col-sm-6 col-lg-8" [@gridAnimation]="(tracksShortList$ | async)?.length">
      <app-track-item *ngFor="let item of tracksShortList$ | async" [details]="item"></app-track-item>
    </div>
  </div>
</div>
