<div class="container">
  <div class="row">
    <div class="col-12">
      <app-category-details [details]="categoryDetails$ | async"></app-category-details>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-content-grid cols="5" [@gridAnimation]="(playlists$ | async)?.length">
        <app-playlist-item *ngFor="let item of playlists$ | async" [playlist]="item"></app-playlist-item>
      </app-content-grid>
    </div>
  </div>
</div>
